<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masha.androidapplication">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Dz5.WifiService"/>
        <activity android:name=".Dz1.Dz1Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Dz2.Dz2Activity" />
        <activity android:name=".Dz3.Dz3Activity" />
        <activity android:name=".Dz4.Dz4ChoiceActivity" />
        <activity android:name=".Dz4.ClockActivity" />
        <activity android:name=".Dz4.DiagramActivity" />
        <activity android:name=".Dz4.AnimationActivity" />
        <activity android:name=".Dz5.Dz5Activity"></activity>
    </application>

</manifest>